.onSaleStuff{
  background: red;
  position: relative;
  animation: myfirst 4s 1;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.onSaleStuffTwo{
    background: red;
    position: relative;
    animation: myfirst 4s 2;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.onSaleStuffTwo{
    background: red;
    position: relative;
    animation: myfirst 4s 2;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.onSaleStuffThree{
    position: relative;
    animation: myThird 4s 2;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.onSaleStuffFour{
    position: relative;
    animation: myFourth 4s 3;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.onSaleStuffFive{
    position: relative;
    animation: myFifth 4s 3;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes myFifth {
    0%   {left: 140px; top: 0px;}
    40%  {left: 80px; top: 0px;}
    70%  {left: -130px;}
    100% {left: -430px; top: 0px;}
}

@keyframes myFourth {
    0%   {left: 140px; top: 0px;}
    40%  {left: 80px; top: 0px;}
    70%  {left: -180px;}
    100% {left: -450px; top: 0px;}
}

@keyframes myThird {
    0%   {left: 360px; top: 0px;}
    40% {left: 40px; top: 0px;}
    70% {left: -200px; top: 0px;}
    100% {left: -440px; top: 0px;}
}

@keyframes mySecond {
    0%   {left: 360px; top: 0px;}
    20%  {left: 245px; top: 0px;}
    40%  {left: 130px; top: 0px;}
    60%  {left: 15px; top: 0px;}
    80% {left: -100px; top: 0px;}
    100% {left: -215px; top: 0px;}
}

@keyframes myfirst {
    0%   {left: 360px; top: 0px;}
    20%  {left: 200px; top: 0px;}
    40%  {left: 40px; top: 0px;}
    60%  {left: -120px; top: 0px;}
    80% {left: -280px; top: 0px;}
    100% {left: -420px; top: 0px;}
}